<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_pangrowth">
    <application>
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="com.bytedance.sdk.dp.act.DPProvider"
            android:authorities="${applicationId}.BDDPProvider"
            android:exported="false" />

        <activity
            android:name=".video.pages.DrawVideoFullScreenActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFull" />

        <activity
            android:name=".video.pages.GridVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFull" />

        <activity
            android:name=".video.pages.NewsTabsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFull" />

        <activity
            android:name=".video.pages.NewsTabOneActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFull" />

        <activity
            android:name=".video.pages.UserCenterActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppFull" />
    </application>
</manifest>
